.intro {
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.input {
  border-width: 2px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
  border-image: initial;
}
.flexcontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ButtonsContainer {
  margin: 25px;
}

.leftButtonContainer {
  position: absolute;
  left: 10px;
}


.rightButtonContainer {
  position: absolute;
  right: 10px;
}

.rightButtonContainer button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2.5rem;
}

.leftButtonContainer button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2.5rem;
}
